.contentWrapper h1 {
	font-size: 16pt;
	color: #0E3979;
	font-family: Gill Sans MT, Verdana, sans-serif;
	margin: 10px;
}

.featuredProperties .detailcon {
	display: block;
	clear: both;
	overflow: hidden;
	padding: 10px 0;
	margin: 0;
}

.featuredProperties .detailcon .detailheader h1 {
	font-family: Brawler;
}

.featuredProperties .detailcon .detailheader {
	margin-top: 50px;
}

.featuredProperties .detailcon .detailheader h2 p {
	margin-left: 165px;
}

.featuredProperties .detailcon:nth-child(2) {
	background: #DDD;
}
